.welcome-image {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.welcome-message {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.signin-message {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.signup-message {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.sign-button {
  margin-top: 0;
  padding: 0;
}
