.search-list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 10px;
  padding-bottom: 20px;
}

.ion-activatable.product-item-search-link {
  min-width: 45%;
  width: 45%;
  min-height: 150px;
  display: flex;
  align-items: flex-end;
  margin: 0;
}
